.App {
  text-align: center;
  position: relative;
  height: 100%;
}

.app__auth-page{
  height: 100%;
  width: 100%;
  /* background-color: blue; */
}

 .main-container{
  position: fixed;
  display: flex;
  top: 56px;
  width: 100%;
  height: 100%;
  padding: 0 0 56px 50px;
  /* background-color: tan; */
  /* z-index: 80; */
 }

 .main-container.open{
  padding-left: 300px;
 } 

 .main-content{ 
  position: relative;
  color: black;
  background-color: #DADADA;
  /* background-color: green; */
  width: 100%;
  margin: 10px;
  border-radius: 5px;
  padding: 10px; 
  overflow: auto;
  /* z-index: 1; */
  /* background-color: pink; */
 } 

 .right-drawer-toggle__button{
  position: absolute;
  color: black;
  display: flex;
  justify-content: center;
  background-color: #DADADA;
  right: 5px;
  bottom: 100px;
  /* border: 1px solid; */
  border-radius: 50px;
  padding: 5px;
  width: 35px;
  height: 35px;
  box-shadow: 1px 0px 7px rgba(0,0,0,0.5);
 }

 .right-drawer-toggle__button.closed{
  right: 0;
  border-radius: 40px 0 0 40px;
  /* bottom: 100px; */
 }

 .right-drawer-toggle__button.closed:hover{
  width: 50px;
 }
 /* .main-input{
  flex: .8;
  background-color: tan;
  
 }   */

 /* .main-output{
  flex: .2;
  background-color: white; 
  color: black;

 }  */

 /* .main-input.closed {
  flex: 1;
 }   */

 /* .main-output.closed{
  flex: 0;
 } */