
.side-drawer{
    height: 100%;
    background: white;
    box-shadow: 1px 0px 7px rgba(0,0,0,0.5);
    position: fixed;
    top: 56px;
    left: 0;
    width: 100%;
    max-width: 50px;
    /* padding: 5px; */
    
    /* align-items: center; */
    /* justify-content: center; */
    /* min-width: 100px; */
    /* z-index: 200;  */
    
    /* transition: transform 0.3s ease-out;  */
}

.side-drawer.open {
    transform: translateX(-80%);
    transform:translateX(0);
    max-width: 300px;
} 

/* .side-drawer.open li {
    flex-direction: row;
} */

.side-drawer.open .side-drawer__icon-text {
    /* align-items: start; */
    display: block;
    margin-left: 10px;
    /* background-color: green; */
} 


.side-drawer ul {
    height: 100%;
    width: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    /* justify-content:space-around; */
    align-items: center;
    padding: 10px;
    /* margin: 5px 0 5px 0; */
} 

.side-drawer li{ 
    display: flex;
    color: grey; 
    font-size: 1.5rem;
    margin: 5px 0 5px 0;

    width: 100%;
} 

.side-drawer a{
    display: flex;
    color: grey; 
    font-size: 1.5rem;
    margin: 5px 0 5px 0;
    text-decoration: none;

    width: 100%;
}

.side-drawer li:hover{
    color: darkgrey; 
} 

.side-drawer__icon{
    /* display: flex; */
    /* margin-right: 10px; */
    /* align-items: center; */
    /* justify-content: center; */
}

.side-drawer__icon-text{
    display: none;
}

/* @media (min-width: 769px){
    .side-drawer{
        display: none;
    }
} */