.toolbar {
    position: fixed; 
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    height: 56px;
    top: 0;
    left: 0;
    z-index: 100;
} 

.toolbar__navigation {
    display: flex;
    height: 100%;
    align-items: center;
    padding: 0 1rem;
}

.toolbar__logo{
    color: white; 
    text-decoration: none;
    font-size: 1.5rem;
    margin-left: 1rem;
} 

.toolbar__navigation-items ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
} 

.spacer{
    flex: 1;
}

.toolbar__navigation-items li{
    font-size: 1.5rem;
    padding: 0 0.5rem; 
    cursor: pointer;
}

.toolbar__navigation-items li:hover{
    color:grey
}

.toolbar__navigation-items{
    color: white; 
    text-decoration: none;
} 

.toolbar__menu-container{
    position: relative;
    color: black;
}

.toolbar__menu{
    position: absolute;
    min-width: 200px;
    height: 200px;
    right: 0;
    background-color: #f9f9f9;
    border: 1px solid;
    border-radius: 5px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.toolbar__notifs-container{
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.toolbar__notifs-container ul{
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: start;
}

.toolbar__notifs-container li{
    font-size: 1rem;
    padding: 5px;
    border-bottom: 1px solid;
    width: 100%;
}

/* .dropdown-content {
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  } */

/* @media (max-width: 768px){
    .toolbar__navigation-items{
        display: none;
    }
} */

/* @media (min-width: 769px){
    .toolbar__toggle-button{
        display: none;
    } 

    .toolbar__logo{
        margin-left: 0;
    }
} */

/* .toolbar__navigation-items:hover, 
.toolbar__navigation-items:active{
    color: grey;
} */
