.calendar__container{
    width: 100%;
}
.calendar{
    width: 900px;
    /* width: 100%; */
    height: 600px;
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
} 

.calendar__header{
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
}

.calendar__body{
    width: 100%;
    flex-grow: 1; 
    display: flex;
    flex-direction: column;
}

.calendar__table-header{
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.calendar__weekday{
    width: 100%;
    align-items: center;
}

.calendar__table-content{
    width: 100%;
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    box-sizing: border-box;
}

.calendar__day{
    width: 125px;
    height: 75px;
    position: relative;
    border: 1px solid #a6a6a6;
    /* text-overflow: ellipsis;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden; */
}

.calendar__day:hover {
    background-color: rgba(0,0,0,.10);
  }

.calendar__day p {
    position: absolute;
    right: 10px;
    color: #a6a6a6;
}

.current p {
    color: #000000;
}

.selected p {
    color: #cc0000;
    font-weight: bold;
}


.datetimeselector__container{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    

}



.calendar__timeslot-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 60px;
    position: relative;
}

.calendar__timeslot{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.timeslot{
    font-size: .8rem;
    width: 20%;
    text-align: right;
    right: 220px;
    padding-right: 5px;
    position: absolute;
    top: -8px;
}

/* .calendar__timeslot-container-relative{
    position: relative;
    width: 100%;
} */

.calendar__timeslot-divider{
    width: 100%;
    
}

.divider__inner{
    /* margin:10px; */
    height: 10px;
    border-bottom: 1px solid;
    
}
.divider__inner2{
    /* margin:10px; */
    height: 10px;
    /* border-bottom: 1px solid; */
    
}

.calendar__timeslot-data{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    /* background-color: pink; */
    
    /* border-top: .5px solid; */
    /* position: fixed; */
    /* right: 225px; */
    
}

.calendar__timeslot-data.show{
    border-top: .5px solid;
    margin-left: 40px;
    /* padding-top: px; */
}

.timeslot-quater{
    height: 15px;
    /* border: 1px solid; */
    /* background-color: green; */
} 

.calendar__form-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    width: 100%;
}

.datetime-container{
    display: flex;
}

.calendar__form-title{
    width: 100%;
    height: 30px;
    /* border-radius: 5px; */
    padding: 10px;
    border-style: none;
    border-bottom: 2px solid blue;
    margin-bottom: 10px;
    font-size: 1.5rem;
}

.calendar__form-buttons{
    display: flex;
    /* align-items:flex-end; */
    width: 100%;
    justify-content:end;
}
.calendar__form-button{
    border: 1px solid;
    margin: 5px;
    border-radius: 5px;
    padding: 5px;
}

.calendar__form-button.submit{
    color: blue;
}

.calendar__modal {
    display: block; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
.calendar__modal-content {
    display: flex;
    /* flex-direction: column; */
    /* justify-content: space-between; */
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    border-radius: 10px;
    /* height: 400px; */
    width: 410px; /* Could be more or less, depending on screen size */
}

.calendar__form-input-container{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.calendar__spacer{
    width: 25px;
    margin-right: 10px;
    /* background-color: pink; */
}

.calendar__type-toggle-container{
    display: flex;
    width: 100%;
    justify-content: start;
}

.calendar__type-toggle-button{
    /* border: 1px solid; */
    border-radius: 5px;
    padding: 5px;
    margin-right: 10px;
}

.calendar__type-toggle-button:hover{
    background-color: lightblue;
}

.calendar__input-container{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.calendar__date-select-container{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    /* justify-content: start; */
}

.calendar__date-select{
    display: flex;
    align-items: center;
    /* position: relative; */
}

.calendar__form-checkbox{
    display: flex;
    align-items: start;
    margin-top: 10px;
}

.calendar__checkbox-lable-container{
    display: flex;
    width: 100%;
    /* justify-content: space-between; */
}

.calendar__checkbox{
    margin-right: 10px;
}

.calendar__datetime-input{
    margin-right: 5px;
    width: 100px;
    border-style: none;
    height: 40px;
    border-radius: 5px;
}

.calendar__datetime-input:hover{
    background-color: lightblue;
}

.calendar__on-event{

    display: inline-block;
    white-space: nowrap;
    /* margin: 2px; */
    width: 120px;
    text-overflow: ellipsis;
    position: relative;
    overflow: hidden;
    font-size: .7rem;
    text-align: left;
}

.calendar__on-event-container{
    padding-top: 16px;
    height: 100%;
}

.calendar__slot-event{
    border: 1px solid;
    background-color: lightblue;
    width: 150px;
    position: absolute;
    left: 50px;
    /* height: 60px; */
    z-index: 1;
    /* opacity: .8; */
}

