.tasks-container{
    display: flex;
    flex-direction: column;
    /* align-items: start; */
    /* align-items: center; */
    /* background-color: pink; */
    margin: 40px;
    
}

.tasks__date{
    padding: 0 0 10px 0;
    font-size: 2rem;
}

.tasks__list{

    /* background-color: blue; */
} 

.task__container{
    display: flex;
    /* background-color: green; */
    /* min-width: 775px; */
}

.task__info-container{
    display: flex;
    /* flex-direction: column; */
    /* justify-content:space-between; */
    justify-content: left;
    /* align-items: center; */
    /* background-color: green; */
    width: 100%;
    /* align-content: space-around; */
} 

.task__info{
    display: flex;
    /* align-items: center; */
    justify-content:space-between ;
    font-family: Arial;
    font-size: 1.3rem; 
    /* background-color: brown; */
    width: 100%;
} 

.task__title{
    /* background-color: pink; */
    width: 100%;
}

/* .task__container{


} */

.task{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content:space-between ; */
    list-style: none;
    padding: 10px ;
    border-bottom: .5px solid;
    margin: 10px 0 10px 0;
    /* font-size: 1.5rem;  */
    opacity: .8;
    border-radius: 10px;
    background-color: #EEEEEE;
}  

.task:hover{
    opacity: 1;
    border-bottom: 1px solid;
    
}

.task:hover .task__option-item{
    display: flex;
    
    /* justify-content:space-between; */
    /* background-color: pink; */
    /* width: 50px; */
    
}

.task.completed{
    /* background-color: red; */
    text-decoration: line-through; 
    opacity: .4; 
} 



.task__date{
    font-size: 1rem;
} 

.task__checkbox {
    margin-right: 10px;
    background-color: #c6c6c6;
    opacity: .2;
    border-radius: 25px;
    width: 20px;
    height: 20px;
    border: 1px solid; 
    font-size: 1.3rem;
    font-weight: 500;
    /* justify-content: center; */
    /* align-items: center; */
} 

.task__checkbox:hover{
    opacity: 1;
} 

.task__checkbox.p1{
    background-color: green;
    /* border-color: green; */
}

.task__checkbox.p2{
    background-color: yellow;
} 

.task__checkbox.p3{
    background-color: darkorange;
}

.task__checkbox.p4{
    background-color: red;
    /* border-color: red; */
}  

.task__active-container{
    display: none;
} 

.task__active-container.active{
    display: block;
} 

/* .task__active-container.active .task__options{
    display: block;
} */

.task__input{
    width: 100%; 
    font-size: 1.3rem; 
    border-style: none;
    background-color: transparent;
}
.task__input:focus{
    outline: none;
} 

.task__category-select{
    /* font-size: 1.3rem;  */
}

.task__category-custom{
    display: none;
    
} 

.task__category-custom.selected{
    display: block;
} 

.task__details{
    font-size: 1rem;
}
.task__details input{
    font-size: 1rem;
    border-style: none;
    background-color: transparent;
} 

.task__date-inactive{
    display: flex;
    justify-content: center;
    border: 1px solid #c6c6c6;
    border-radius: 20px;
    width: 140px;
    color: blue;
}

/* .task__right-container{
    display: flex;
    flex-direction: column;
    height: 15px;
    background-color: pink;
    width: 100px;
    justify-content: end;
} */

.task__options-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
    
}

.task__options{
    display: flex;
    /* justify-content: end; */
    /* height: 25px; */
    font-size: 1rem;
    /* background-color: red; */
    /* width: 25%; */
}

.task__option-item{
    display: none;
    /* background-color: teal; */
    margin: 0 10px 0 10px;
} 

/* .task__info-mid{
    display: flex;
    width: 100%;
    justify-content:space-between;
    padding: 0 10px 0 10px;
} */

.task__trash{
    /* margin: 0 10px 0 10px; */
}

.task__star{
    /* margin: 0 10px 0 10px; */
    /* background-color: pink; */
} 

.task__c{
    display: flex;
    flex-direction: column;
}

.task__cp{
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
}

.task__category{
    /* background-color: pink; */
    width: 100px;
    margin-bottom: 5px;
    /* border: 1px solid; */
}

.task__priority{
    /* background-color: red; */
    width: 100px;
    margin-bottom: 5px;
    /* border: 1px solid; */
}

/* .task__options.show{
    display: block;
} */ 

.task__favorited{
    color: gold;
} 





.modal {
    display: block; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    border-radius: 10px;
    /* height: 150px; */
    width: 25%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  /* .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  } */
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  } 

  .list__form{
    display: flex;
    flex-direction: column;
    height: 100px;
    justify-content: space-between;
    text-align: left;
  } 

  .list__form-buttons{
    display: flex;
    justify-content: right; 
    font-size: 1rem;
    
  } 

  .list__form-button-done{
    color: blue;
    margin-left: 10px;
    cursor: pointer;
  }

  .list__form-button-close{
    cursor: pointer;
  }

  .list_form-input{
    /* border-radius: 5px; */
    height: 25px;
  }