.profile__container{
    /* background-color: pink; */
}

.profile__header{
    display: flex;
}

.profile__back-btn{
    font-size: 20px;
}

.profile__avatar{
    vertical-align: middle;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-right: 5px;
    margin-bottom: 30px;
}

.profile__name-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:start;
    width: 500px;
    margin: 30px;
}

.profile__name{
    font-size: 30px;
    margin-bottom: 10px;
}

.profile__label-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(156, 160, 164);
    border-radius: 4px;
    padding: 5px;
}

.profile__menu-container{
    display: flex;
    align-items: end;
}

.profile__menu{
    display: flex;
    width: 150px;
    margin-bottom: 30px;
    justify-content:space-around;
    align-items: center;
}

.profile__edit-btn{
    border: 1px solid rgb(26,115,232);
    padding: 5px 15px 5px 15px;
    border-radius: 4px;
    background-color: rgb(26,115,232);
    color: #fff;
    cursor: pointer;
}

.profile__edit-btn:hover{
    background-color: rgb(9, 104, 228);
}

.profile__divider{
    border-bottom: 1px solid rgb(156, 160, 164);
    
}

.profile__details-container{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    border: 1px solid rgb(156, 160, 164);
    border-radius: 5px;
    margin: 30px;
    padding: 10px;
    width: 50%;
}

.profile__details-label{
    font-size: 20px;
    margin-bottom: 10px;
} 

.profile__details-item-container{
    display: flex;
}

.profile__details-item{
    margin-left: 10px;
}

.profile__form-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 10px;
}

.profile__form-group-container{
    display: flex;
    /* margin: 5px; */
    justify-content: center;
    align-items: start;
    font-size: 20px;
    
}

.profile__form-input{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 10px;
}

.profile__form-input > input {
    height: 35px;
    width: 50%;
    
    margin: 0 10px 10px 5px;
    border-radius: 4px;
    padding: 5px;
}